// 網頁基本設定(html tag標籤)

// Reset css
// @import "reset";
// @import "normalize";

body{
    font-weight: 700;
}
.bg-img{
    background-image: url("../../images/arthur-volkers-GX542ehZwSk-unsplash\ 1.png");
}

.top-middle{
    top:50%;
    margin-top: -80px;
}

.troubled{
    height: 100vh;
    background-image: url(../../images/困擾\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.f-img{
    width: 35%;
}
.toBig{
    animation: enlarge 1.5s ease-in-out ;

}

@keyframes enlarge{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.section2 {
    height: 100vh;
    overflow: hidden;
    max-width: 100%;
  }

  .loop {
    display: inline-block;
    font-family: "Laser Corps 3D";
    font-size: 5rem;
    color: transparent;
    white-space: nowrap;
    height: 100%;
    -webkit-text-stroke: 1px white;
  }
  .loop > span {
    display: inline-block;
  }

