//自訂css
// base******************************************************************************
body {
  font-weight: 700;
}

header {
  padding: 0.5rem 2rem;
}

h1 {
  font-size: 9rem;
  transform: rotate(-15deg);
}

a {
  text-decoration: none;
  padding: 0.5rem;
}

// module*******************************************************************************

.pos-center {
  position: absolute;
  top: 25%;
}

// 背景
.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &-1 {
    background-image: url("../../images/frontend\ engineer.png");
  }

  &-2 {
    background-image: url("../../images/section-3.png");
  }
  &-troubled {
    background-image: url("../../images/困擾\ 1.png");
  }

  @include media-breakpoint-up(lg) {
    &-3 {
      background-image: url("../../images/left\ hand.png");
      top: 51%;
      left: -37%;
    }

    &-4 {
      background-image: url("../../images/right\ hand.png");
      top: 51%;
      left: 30%;
    }
  }

  @include media-breakpoint-up(xl) {
    &-3 {
      background-image: url("../../images/left\ hand.png");
      top: 51%;
      left: -33%;
    }

    &-4 {
      background-image: url("../../images/right\ hand.png");
      top: 51%;
      left: 26%;
    }
  }

  @include media-breakpoint-up(xxl) {
    &-3 {
      background-image: url("../../images/left\ hand.png");
      top: 51%;
      left: -28%;
    }

    &-4 {
      background-image: url("../../images/right\ hand.png");
      top: 51%;
      left: 23%;
    }
  }
}

.top-middle {
  top: 50%;
  margin-top: -80px;
}

// 跑馬燈
.loop {
  display: inline-block;
  font-family: "Laser Corps 3D";
  font-size: 5rem;
  color: transparent;
  white-space: nowrap;
  height: 100%;
  -webkit-text-stroke: 1px white;

  span {
    display: inline-block;
  }
}

.trophy-card-bg {
  background: linear-gradient(to right, #5ee7df, #b490ca);
}

// 圓角
.rounded {
  &-20 {
    border-radius: 20px !important;
  }
}

// 清單樣式
.list-group-disc {
  list-style-type: disc;
}

// 按鈕
.btn-primary:hover {
  background-color: #ffb400;
}

.btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  position: absolute;
  z-index: 5;
  bottom: -11rem;
  right: 5%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bolder;
  border-radius: 50%;
  color: #fff;
  background: #ffcc00;
}

.s3 {
  font-weight: bolder;
  text-align: center;
  &-title {
    font-size: 3rem;
    text-shadow: 8px 12px 9px #5ee7df;
    // color: white;
    @include media-breakpoint-down(sm) {
      font-size: 2.5rem;
    }
  }

  &-note {
    // display: block;
    margin-top: 0.25rem;
    margin-left: 15rem;
    max-width: 576px;
    padding: 0.25rem 1rem;
    font-size: 2rem;
    color: $cyan;
    border: $purple 5px solid;
    border-radius: 50px;
    @include media-breakpoint-down(md) {
      margin-left: 14rem;
      font-size: 1.25rem;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.loop {
  display: inline-block;
  font-size: 5rem;
  color: transparent;
  white-space: nowrap;
  /*文字必須設為nowrap，否則文字會自動換行*/
  height: 100%;
  -webkit-text-stroke: 1px white;

  span {
    display: inline-block;
  }
}

.login-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

// z-index
.z {
  &-1 {
    z-index: 1;
  }
  &-2 {
    z-index: 2;
  }
  &-3 {
    z-index: 3;
  }
  &-4 {
    z-index: 4;
  }
}
