// bs5
// @import "bootstrap/bootstrap"; 

// 全域變數&mixin


// base******************************************************************************
body {
    font-weight: 700;
    background-image: url("../../images/arthur-volkers-GX542ehZwSk-unsplash\ 1.png");
}
header{
    padding: 2.5rem 2rem;
}
// section******************************************************************************
section {
    max-width: 100%;
    padding: 3rem .5rem 8rem;
    @media (max-width: 992px) {
        padding: 3rem .5rem 5rem;
    }
        
    
}
.section2 {
    height: 100vh;
    flex: 1 0 0;
    figure{
        max-width: 50%;
    }
}
.section4{
    background-image: url(../../images/Rectangle\ 9.svg);
    background-repeat: no-repeat;
    background-position: center;

}
.section6 {
    // background-image: url(../../images/);
    
    padding-right: 2rem;
    padding-left: 2rem;
    main.card-item{
        height: 100vh;
        .card{
            position: absolute;
            max-width: 50%;
        }
        .card:nth-child(1) {
            transform: rotate(-5deg);
            top: 0;
            left: 0;
        }
    
        .card:last-child {
            transform: rotate(6.5deg);
            right: 0;
            bottom: 0;
        }
    }
}

.section7 {

    >.pic {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        overflow-x: hidden;

        img {
            width: 120%;
        }
    }

    main {
        position: absolute;
        top: -1%;
        margin-top: 20%;
        left: 50%;
        width: 100%;
        transform: translate(-50%);

        .pic {
            width: 30%;

            img {
                width: 100%;
            }
        }
    }

}

// module*******************************************************************************

.top-middle {
    top: 50%;
    margin-top: -80px;
}

.troubled {
    height: 100vh;
    background-image: url(../../images/困擾\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.loop {
    display: inline-block;
    font-family: "Laser Corps 3D";
    font-size: 5rem;
    color: transparent;
    white-space: nowrap;
    height: 100%;
    -webkit-text-stroke: 1px white;
}

.loop>span {
    display: inline-block;
}

.after-arrow {
    position: relative;

    &::after {
        content: " ";
        background: url(../../images/Icon/Group\ 4.svg) no-repeat center;
        background-size: contain;
        display: block;
        width: 8rem;
        height: 8rem;
        position: absolute;
        left: 105%;
        top: 50%;
        transform: translateY(-100%);
    }

}

.ZigZag {
    span {
        margin-top: -15px;
    }
}

.trophy-card-bg {
    background: linear-gradient(to right, #5EE7DF, #B490CA);

}

.box-shadow-linear {}

.card-body {
    h5.card-title {
        padding: .25rem;
        top: 0;
        left: 0;
    }
}

.rounded-20 {
    border-radius: 20px !important;
}

.list-group-disc {
    list-style-type: disc;
}

// animation**************************************************************************
.ani-toBig {
    animation: enlarge 1.5s ease-in-out;
}

@keyframes enlarge {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}